<% include layouts/header %>

<html>
    <head>
        <title>Tutorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <script src="/socket.io/socket.io.js"></script>

    <script>
    var username = "<%= username %>";
    var curX = 0;
    var curY = 0;
    var selected;
    console.log(username);
    var socket = io();
    setUsername();

    function setUsername() {
    socket.emit('add user', username);
  }

   socket.on('startMap', function (data) {
    socket.emit('getMap');
});

socket.on('heresTheMap', function (response){


var player_info = response.pl_info;
var loc_info = response.loc_info;
var chars_info = response.players;

var is_there = 0;

var html = '<table id = "mapTable">';
for(var y = player_info.loc_y+3; y >= player_info.loc_y-3; y--) {
html += '<tr>';
for(var x = player_info.loc_x-3; x <= player_info.loc_x+3; x++) {
is_there = 0;
if(is_there == 0){
    if(x == player_info.loc_x && y == player_info.loc_y) {
    is_there = 1;
    curX = x;
    curY = y;
  html += '<td id = "cell'+x+'-'+y+'" class = "player"></td>'
  }
 }


 if(is_there == 0){
    for(var pl_count = 0; pl_count < chars_info.length; pl_count++) {
        if(x == chars_info[pl_count].loc_x && y == chars_info[pl_count].loc_y){
            is_there = 1;
            html += '<td id = "cell'+x+'-'+y+'" class = "char"></td>'
        }
    }
}

 if(is_there == 0){
    for(var loc_count = 0; loc_count < loc_info.length; loc_count++) {
        if(x == loc_info[loc_count].loc_x && y == loc_info[loc_count].loc_y){
          is_there = 1;
            if(loc_info[loc_count].loc_type == 1){
            html += '<td id = "cell'+x+'-'+y+'" class = "soil" ></td>'
          }
            else if(loc_info[loc_count].loc_type == 2){
            html += '<td id = "cell'+x+'-'+y+'" class = "grass"></td>'
          }
        }
    }
}
if(is_there==0) {
    is_there = 1;
    html += '<td id = "cell'+x+'-'+y+'"class = "nothing"></td>'
}
}
html += '</tr>';
}
html += '</table>';
var lastClicked;
document.getElementById('playArea').innerHTML = html;
$(document).ready(function(){
$('#playArea #mapTable td').on('click', function() {
  if(lastClicked){
    lastClicked.toggleClass('selected');
  }
    $(this).toggleClass('selected');
    lastClicked = $(this);
    selected = $(this).attr('id')
    console.log(selected);
});
});
checkButtons();
});//end heresTheMap

socket.on('updateYourMap', function (){
  socket.emit('getMap');
});//end updateYourMap

function move(direction){
  socket.emit("updateMap", {direction : direction.id, name:username});
}//end move function

function attack(){
  console.log(selected);
}//end move function

function checkButtons(){
  if(document.getElementById("cell" + (curX+1) + "-" + curY).className == "nothing" || document.getElementById("cell" + (curX+1) + "-" + curY).className == "char"){
    document.getElementById("right").disabled = true;
  }
    else {
      document.getElementById("right").disabled = false;
    }
  if(document.getElementById("cell" + (curX-1) + "-" + curY).className == "nothing" || document.getElementById("cell" + (curX-1) + "-" + curY).className == "char"){
    document.getElementById("left").disabled = true;
  }
    else {
      document.getElementById("left").disabled = false;
    }
  if(document.getElementById("cell" + curX + "-" + (curY + 1)).className == "nothing" || document.getElementById("cell" + curX + "-" + (curY + 1)).className == "char"){
    document.getElementById("up").disabled = true;
  }
    else {
      document.getElementById("up").disabled = false;
    }
  if(document.getElementById("cell" + curX + "-" + (curY - 1)).className == "nothing" || document.getElementById("cell" + curX + "-" + (curY - 1)).className == "char"){
    document.getElementById("down").disabled = true;
  }
    else {
      document.getElementById("down").disabled = false;
    }
}


</script>
    <body>
<div id = 'playArea'></div>
<div id = 'commandButtons'>
  <button class 'attackButton' id="attack" onclick ="attack()">Attack</button>
</div>
<div id = 'moveButtons'>
  <button class = "navbutton" id ="up" onclick="move(this)" >Up</button>
  <div id ="leftright">
  <button class = "navbutton" id ="left" onclick="move(this)">Left</button><button class = "navbutton" id ="right" onclick="move(this)">Right</button>
</div>
  <button class = "navbutton" id ="down" onclick="move(this)">Down</button>
</div>




    </body>
</html>
