<!DOCTYPE html>
<style type="text/css">
  td {
    width: 30px;
    height: 30px;
  }

  .player {

    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
 background-color: #60B566;
}

.nothing {

    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
 background-color: #2d2228;
}

.soil {
 width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
 background-color: #7D5D16;
}
</style>
<html>
    <head>
        <title>Tutorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <script src="/socket.io/socket.io.js"></script>

    <script>
    var socket = io('http://localhost:3000');
    socket.emit('getMap');
    socket.on('heresTheMap', function (response){


var player_info = response.pl_info;
var loc_info = response.loc_info;
 
var is_there = 0;

var html = '<table>';
for(var y = player_info.loc_y+3; y >= player_info.loc_y-3; y--) {
    
  html += '<tr>';

  for(var x = player_info.loc_x-3; x <= player_info.loc_x+3; x++) {
    is_there = 0;
    
    
    if(is_there == 0){
        if(x == player_info.loc_x && y == player_info.loc_y) {
        is_there = 1;
       
      html += '<td class = "player"></td>'
      
      }
     } 
     if(is_there == 0){
       
        for(var loc_count = 0; loc_count < loc_info.length; loc_count++) {
    
           
            if(x == loc_info[loc_count].loc_x && y == loc_info[loc_count].loc_y){
                is_there = 1;
                
                html += '<td class = "soil"></td>'
         
            }

        }
    } 
    if(is_there==0) {
        is_there = 1;
       
        html += '<td class = "nothing"></td>'
        
    }
  
  

}
html += '</tr>';
}
html += '</table>';
document.getElementById('playArea').innerHTML = html;
});

</script>
    <body>
      <p>test</p>
<div id = 'playArea'></div>


    </body>
</html>
