<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <script src="/socket.io/socket.io.js"></script>

        <script>
          var socket = io.connect('http://localhost:3000');
    </script>
    <body>

        <ul>
            <% for(var i=0; i<5; i++) {%>
            <li>Tuna</li>

             <% } %>
        </ul>



    </body>
</html>
